@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
body {
    background-color: #2c2c2c;
    font-family: "Comfortaa";
    color: white;
}

nav {
    display: flex;
    height: 10vh;
    /* padding-top: 20px; */
    align-content: center;
    justify-content: center;
    background-color: #2c2c2c;    
    color: white;
    margin-bottom: 40px;
}

h1 {
    font-size: 2.5em;
    padding-bottom: 30px;
}

.left, .right {
    height: 80vh;
    width: 20vw;
    text-align: center;
    display: flex;
    background-color: #2c2c2c;
    /* margin: 30px; */
}

.left {
    padding-top: 20px;
}

h2 {
    border-bottom: solid rgb(255, 255, 255) 2px;
}


.center {
    background-color: aliceblue;
    width: 65%;
    outline: solid #2c2c2c 5px;
    outline-offset: -5px;
    
}

.row {
    display: flex;
    height: 26vh;
    border: 1px solid rgb(255, 255, 255);
    justify-content: center;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2c;
    border: 1px solid rgb(255, 255, 255);
    width: 33%;
    height: 250px;
    /* height: 33%; */
    text-align: center;
    font-size: 5em;
}

main {
    display: flex;
}



h4 {
    text-align: center;
    margin-bottom: 10%;
}

ol > h3 {
    border-bottom: solid black 2px;
}

.scoreboard {
    margin-left: 85px;
}

ol {
    padding-right: 50px;
}